header {background-color:  aqua;color: blue (63, 146, 219);display:flex;justify-content:space-around;
    align-items: center;padding: 24px;}
.cabecalho-imagem{width: 20%;}
.cacecalho-lista-item{display: inline-block;margin:0 16px;font-size: 24px;}
  
